{{ ansible_managed | comment }}

{% for setting in _pgpass_settings %}
{{ setting.host | default('*') }}:{{ setting.port | default('*') }}:{{ setting.database | default('*') }}:{{ setting.user }}:{{ setting.password }}
{% endfor %}
